{% extends "page.html" %}

{% block navigation -%}
<!-- Inicio de menú de navegación --> 
<div id="navigation" class="menu"> 
  <ul>
      <li><a href="/procedimientos/derecho-reunion/" title="Descripción">Descripción</a>
      <ul>
        <li><a href="/procedimientos/derecho-reunion/#destinatarios" title="Destinatarios">Destinatarios</a></li>
        <li><a href="/procedimientos/derecho-reunion/#utilidad" title="Utilidad">Utilidad</a></li>
      </ul>
      </li>
      <li><a href="/procedimientos/derecho-reunion/instrucciones" title="Instrucciones">Instrucciones</a></li>
      <li class="parentlink"><a href="/procedimientos/derecho-reunion/documentacion" title="Documentación de trabajo">Documentación de trabajo</a>
        <ul>
          <li><a href="/procedimientos/derecho-reunion/documentacion/#normas" title="Normas jurídicas">Normas jurídicas</a></li>
          <li><a href="/procedimientos/derecho-reunion/documentacion/#resoluciones" title="Resoluciones">Resoluciones judiciales</a></li>
          <li><a href="/procedimientos/derecho-reunion/documentacion/#doctrina" title="Doctrina">Doctrina</a></li>
        </ul>
      </li>
      <li><a href="/procedimientos/derecho-reunion/escritos" title="Escritos">Escritos</a></li>
      <li><a href="/procedimientos/derecho-reunion/historial" title="Historial del procedimiento">Historial del procedimiento</a></li>
    </ul>
</div>
<div style="clear:both;"></div>
<!-- Fin de menú -->
{% endblock -%}  
{{ page.content }}


