status: hidden
template: self

{% extends "base.html" %}

{% block content %}
<p>
  Los procedimientos libres constituyen un conjunto de escritos,
  normas, doctrina y resoluciones judiciales utilizables por cualquier
  persona para ejercer sus derechos o, en el caso de profesionales,
  para actuar en defensa de los derechos de sus clientes. Los
  documentos generados y los procedimientos propuestos permiten sus
  libres uso, copia, distribución, difusión y transformación.
</p>
<h2>Contenido</h2>
<p>
  Tiene a su disposición los siguientes procedimientos libres:
</p>
<ul class="posts">
  <li><span>18-11-2012</span> &raquo; <a href="/procedimientos/tasas-judiciales">Impugnación de las tasas judiciales</a></li>
  <li><span>17-05-2011</span> &raquo; <a href="/procedimientos/derecho-reunion">Ejercicio del derecho de reunión</a></li>
  <li><span>20-01-2010</span> &raquo; <a href="/procedimientos/denuncia-monopolio-eegg">Denuncia del monopolio de las entidades de gestión</a></li>
  <li><span>26-10-2007</span> &raquo; <a href="/procedimientos/defensa-libertad-expresion">Defensa de la libertad de expresión</a></li>
  <li><span>25-10-2007</span> &raquo; <a href="/procedimientos/defensa-webs-de-enlaces">Defensa de las webs de enlaces</a></li>
  <li><span>06-02-2006</span> &raquo; <a href="/procedimientos/defensa-copyleft">Defensa del copyleft</a></li>
  <li><span>30-08-2003</span> &raquo; <a href="/procedimientos/reclamacion-canon">Reclamación del canon en los soportes digitales</a> [Finalizado]</li>
</ul>
<h3>Metodología</h3>
<p>
  Si se halla interesado en aspectos teóricos que subyacen a este tipo
  de acciones, dispone de la siguiente
  documentación: <a href="http://derecho-internet.org/node/580">Metodología
  y codificación de la acción micropolítica. Acciones políticas
  ciudadanas en internet</a>.
</p>
<h3>Fuentes</h3>
<p>
  Dispone de las fuentes de esta web en Github: <a href="https://github.com/jdelacueva/web-procedimientoslibres.es">https://github.com/jdelacueva/web-procedimientoslibres.es</a>
</p>
<h3>Licencia</h3>
<p>
<a rel="license" href="http://creativecommons.org/licenses/by/3.0/es/deed.es_ES"><img alt="Licencia de Creative Commons" style="border-width:0" src="/img/88x31.png" /></a><br />La web <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Procedimientos libres</span>, por <a xmlns:cc="http://creativecommons.org/ns#" href="http://javierdelacueva.es" property="cc:attributionName" rel="cc:attributionURL">Javier de la Cueva</a>, está licenciada bajo <a rel="license" href="http://creativecommons.org/licenses/by/3.0/es/deed.es_ES">Creative Commons Reconocimiento 3.0 España License</a>.
</p>
<p><a href="log.html">Log</a></p>
{% endblock %}
